[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/vim-marching"]
	path = vim/.vim/bundle/vim-marching
	url = https://github.com/osyo-manga/vim-marching.git
[submodule "vim/.vim/bundle/vimproc.vim"]
	path = vim/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
